<h1>Test</h1>
<div class="container mt-5 text-center">

    <%= link_to "nouveau", new_timeslot_path if current_user.manager? %>
    <%= week_calendar(events: @timeslots) do |date|%>
      <%= date.month %>
    <div class=day>
      <%=  date.day %>
      <% @timeslots.each do |timeslot| %>
        <% bookings = @bookings.where(timeslot_id: timeslot) %>
        <% if timeslot.start_time >= date.beginning_of_day && timeslot.start_time < date.end_of_day%>
        <div>

            <div class= "mt-5 card timeslot" >
                <p id="timeslot-title"><%=timeslot.task %></p>
                  <div class="timeslot-time">
                    <p id ="timeslot-start-time"><%= timeslot.start_time.strftime("%H:%M  -->") %></p>
                    <p id ="timeslot-end-time"><%= timeslot.end_time.strftime(" %H:%M") %></p>
                  </div>

                <p id ="timeslot-number-employee"> <%= timeslot.number_employee %> <%= timeslot.number_employee > 1 ? " Collaborateurs" : "Collaborateur" %></p>
                <u><li>Inscrits :</li>
                  <% bookings.each do |booking| %>
                    <li><%= booking.user.name %></li>
                  <% end %>
                </ul>
                <% if bookings.size < timeslot.number_employee && current_user.manager? == false%>
                  <%= button_to 'Book this slot', bookings_path(timeslot_id: timeslot.id), method: :post, remote: true, class: 'btn btn-primary' %>
                  <% else %>
                    <p>complet</p>
                <% end %>
                <%= link_to "modifier", edit_timeslot_path(timeslot) if current_user.manager?%>
            </div>
          <% end  %>
        </div>
      <% end  %>
      </div>

    <%end  %>
</div>
