<h1>Test</h1>

<!-- Main container for the calendar -->
<div class="container mt-5 text-center">

    <!-- Display a link to create a new timeslot if the current user is a manager -->
    <%= link_to "nouveau", new_timeslot_path if current_user.manager? %>

    <!-- Display a week calendar with timeslots as events -->
    <%= week_calendar(events: @timeslots) do |date|%>
        <%= date.month %>
        <div class="day">
            <%= date.day %>

            <% @timeslots.each do |timeslot| %>
                <% bookings = @bookings.where(timeslot_id: timeslot.id) %>

                <% if timeslot.start_time >= date.beginning_of_day && timeslot.start_time < date.end_of_day %>
                    <div class="mt-5 card timeslot">
                        <p id="timeslot-title"><%= timeslot.task %></p>
                        <div class="timeslot-time">
                            <p id="timeslot-start-time"><%= timeslot.start_time.strftime("%H:%M -->") %></p>
                            <p id="timeslot-end-time"><%= timeslot.end_time.strftime(" %H:%M") %></p>
                        </div>
                        <p id="timeslot-number-employee"> <%= timeslot.number_employee %> <%= timeslot.number_employee > 1 ? " Collaborateurs" : " Collaborateur" %></p>

                            <p> current user id : <%= current_user.id %></p>
                        <ul><li>Inscrits :</li>
                            <%# INSCRIPTIONS  %>
                            <% bookings.each do |booking| %>
                              <div class= "d-flex">
                                  <li><%= booking.user.name %></li>
                                  <%# Boutons --> Conditions  %>
                                  <% if bookings.size >= timeslot.number_employee && bookings.map(&:user_id).exclude?(current_user.id) %>
                                      <% if Exchange.where(booking_2_id: booking, user_2_id: booking.user, user_1_id: current_user, status: "En attente").size >= 1%>
                                          <li class="btn btn-primary">Demande en attente</li>
                                      <% elsif Exchange.where(booking_2_id: booking, user_2_id: booking.user, user_1_id: current_user, status: "En attente").size <= 1 %>
                                          <li><%= button_to "Request exchange", exchanges_path(user_1_id: current_user.id, user_2_id: booking.user_id, booking_2_id: booking.id, status: "En attente"), method: :post, remote: true, class: 'btn btn-warning' %></li>
                                      <% end %>
                              </div>
                                  <% end %>
                            <% end %>
                        </ul>

                        <!-- Display edit link if the current user is a manager -->
                        <%= link_to "modifier", edit_timeslot_path(timeslot) if current_user.manager? %>
                        <%# Display Take the slot if employee and room for it %>
                        <% if current_user.manager? == false && bookings.size < timeslot.number_employee && bookings.map(&:user_id).exclude?(current_user.id) %>
                            <%= button_to 'Book this slot', bookings_path(timeslot_id: timeslot.id), method: :post, remote: true, class: 'btn btn-primary' %>
                        <% end %>
                    </div>
                <% end  %>
            <% end  %>
        </div>
    <%end  %>
</div>
